<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jupai.search.persistence.SearchMapper">
	
	<select id="searchRooms" resultType="HashMap">
		SELECT id, name, location_name, price, url, default_pic, address, lng, lat 
		FROM room 
		WHERE published = 1 
		<if test="location != null">
			AND instr(location_name, #{location})
		</if>
		<if test="lng != null and lat != null">
			AND round(12742000*asin(sqrt(pow(sin((lat-#{lat})*0.017453)/2,2)+cos(lat*0.017453)*cos(#{lat}*0.017453)*pow(sin((lng-#{lng})*0.017453)/2,2)))) <![CDATA[ < ]]> 2000
		</if>
		<if test="checkInDay != null and checkOutDay != null">
			AND NOT EXISTS (SELECT id FROM roomstatus WHERE room.id = roomstatus.room_id AND day >= #{checkInDay} AND day <![CDATA[ < ]]> #{checkOutDay})
		</if>
		<if test="sort == 1">
			order by price desc
		</if>
		<if test="sort == 2">
			order by price
		</if>
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="countRooms" resultType="int">
		select count(id) 
		FROM room 
		WHERE published = 1 
		<if test="location != null">
			AND instr(location_name, #{location})
		</if>
		<if test="lng != null and lat != null">
			AND round(12742000*asin(sqrt(pow(sin((lat-#{lat})*0.017453)/2,2)+cos(lat*0.017453)*cos(#{lat}*0.017453)*pow(sin((lng-#{lng})*0.017453)/2,2)))) <![CDATA[ < ]]> 2000
		</if>		
		<if test="checkInDay != null and checkOutDay != null">
			AND NOT EXISTS (SELECT id FROM roomstatus WHERE room.id = roomstatus.room_id AND day >= #{checkInDay} AND day <![CDATA[ < ]]> #{checkOutDay})
		</if>
	</select>
	
</mapper>      