<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jupai.order.persistence.OrderMapper">
	
	<!-- 获取订单详情 -->
	<select id="getOrderDetail" resultType="HashMap">
		SELECT id roomId, name, price*DATEDIFF(#{checkOutDay}, #{checkInDay}) price, DATEDIFF(#{checkOutDay}, #{checkInDay}) days
		FROM room WHERE id = #{roomId}
		<!-- SELECT r.id roomId, r.name, SUM(rs.price) price2, r.price*DATEDIFF(#{checkOutDay}, #{checkInDay}) price, DATEDIFF(#{checkOutDay}, #{checkInDay}) days
		FROM room r LEFT JOIN roomstatus rs ON r.id= rs.room_id AND rs.date >= #{checkInDay} AND rs.date <![CDATA[ < ]]> #{checkOutDay}
		where r.id = #{roomId}
		GROUP BY r.id -->
	</select>
	
	<!-- 统计不可租的天数 -->
	<select id="countNotRentDays" resultType="int">
		select count(id) from roomstatus where room_id = #{roomId} and date >= #{checkInDay} and date <![CDATA[ < ]]> #{checkOutDay} AND is_rent = 0
	</select>
	
	<!-- 获取订单金额 -->
	<select id="getOrderAmount" resultType="int">
		select price*DATEDIFF(#{checkOutDay}, #{checkInDay}) from room where id = #{roomId}
		<!-- SELECT SUM(price) price
		FROM roomstatus 
		where room_id = #{roomId} and date >= #{checkInDay} AND date <![CDATA[ < ]]> #{checkOutDay}
		GROUP BY room_id -->
	</select>
	
	<!-- 创建支付订单 -->
	<insert id="createOrder" parameterType="com.jupai.order.domain.Order" >
	    insert into `order`
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="openid != null" >
	        openid,
	      </if>
	      <if test="roomId != null" >
	        room_id,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="mobile != null" >
	        mobile,
	      </if>
	      <if test="idNumber != null" >
	        id_number,
	      </if>
	      <if test="checkInDay != null" >
	        check_in_day,
	      </if>
	      <if test="checkOutDay != null" >
	        check_out_day,
	      </if>
	        days,
	      <if test="amount != null" >
	        amount,
	      </if>
	      <if test="channel != null" >
	        channel,
	      </if>
	      <if test="chargeId != null" >
	        charge_id,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=VARCHAR},
	      </if>
	      <if test="openid != null" >
	        #{openid,jdbcType=INTEGER},
	      </if>
	      <if test="roomId != null" >
	        #{roomId,jdbcType=INTEGER},
	      </if>
	      <if test="name != null" >
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="mobile != null" >
	        #{mobile,jdbcType=VARCHAR},
	      </if>
	      <if test="idNumber != null" >
	        #{idNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="checkInDay != null" >
	        #{checkInDay,jdbcType=DATE},
	      </if>
	      <if test="checkOutDay != null" >
	        #{checkOutDay,jdbcType=DATE},
	      </if>
	      DATEDIFF(#{checkOutDay}, #{checkInDay}),
	      <if test="amount != null" >
	        #{amount,jdbcType=INTEGER},
	      </if>
	      <if test="channel != null" >
	        #{channel,jdbcType=VARCHAR},
	      </if>
	      <if test="chargeId != null" >
	        #{chargeId,jdbcType=VARCHAR},
	      </if>
	    </trim>
	</insert>
	
	<!-- 获取订单列表 -->
	<!-- 支付状态 0-未支付  1-支付成功 2-申请退款  3-退款成功 4-退款失败 -1-支付失败  -2-取消支付 -->
	<select id="getOrderList" resultType="HashMap">
		select o.id orderId, o.room_id roomId, o.name, o.mobile, o.check_in_day checkInDay, o.check_out_day checkOutDay, o.days, 
			o.amount, o.pay_status payStatus, o.createdtime, o.updatedtime, r.name roomName, r.address,
			case
				when o.pay_status = -1 then '付款失败'
				when o.pay_status = -2 then '已取消付款'
				when o.pay_status = 0  then '待付款'
				when o.pay_status = 1  then '已付款'
				when o.pay_status = 2  then '申请退订中'
				when o.pay_status = 3  then '已退款'
				when o.pay_status = 4  then '退款失败'
			end status
		from `order` o, room r 
		where o.openid = #{openid} and o.pay_status > 0 and o.room_id = r.id 
		order by o.createdtime desc
	</select>
	
	<select id="getCheckInGuide" resultType="HashMap">
		select id, guide_pic, guide_desc from room where id = #{roomId}
	</select>
	
	<select id="getOrderInfo" resultType="HashMap">
		select o.id orderId, o.room_id roomId, o.name, o.mobile, o.check_in_day checkInDay, o.check_out_day checkOutDay, o.days, 
			o.amount, o.pay_status payStatus, o.createdtime, o.updatedtime, r.name roomName, r.address,
			case
				when o.pay_status = -1 then '付款失败'
				when o.pay_status = -2 then '已取消付款'
				when o.pay_status = 0  then '待付款'
				when o.pay_status = 1  then '已付款'
				when o.pay_status = 2  then '申请退订中'
				when o.pay_status = 3  then '已退款'
				when o.pay_status = 4  then '退款失败'
			end status
		from `order` o, room r where o.id = #{orderId} and o.openid = #{openid} and o.room_id = r.id
	</select>
	
	<update id="updateRoomStatusByOrderId">
		update roomstatus rs, `order` o
		set rs.is_rent = 0
		where o.id = #{orderId} and rs.room_id = o.room_id and rs.date >= o.check_in_day and rs.date <![CDATA[ < ]]> o.check_out_day AND o.pay_status = 1
	</update>
</mapper>      