@charset "utf-8";
/* 2015-11-24 */
/*公共样式*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #333;
}

html a {
	color: #333;
}

body {
	background-color: #fff;
	color: #333;
	font-size: 14px;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: "Hiragino Sans GB", "华文细黑", "Microsoft YaHei", SimHei,
		"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal
}

caption {
	text-align: left
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
}

ol, ul, li {
	list-style: none;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

b {
	font-weight: normal;
}

mark {
	background: none;
}

i {
	font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

body {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, dialog, footer, header, section, footer, nav, figure,
	menu, label {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: center;
	vertical-align: top;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfloat:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfloat {
	zoom: 1
}

input {
	outline: none;
	-webkit-appearance: none; /*去除input默认样式*/
	border: none;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.text-left {
	text-align: left;
}

.b-fff {
	background-color: #fff;
}

.b-ebedf0 {
	background-color: #ebedf0;
}

.b-f9f9f9 {
	background-color: #f9f9f9;
}

.b-efeded {
	background-color: #efeded;
}

.b-e9e7e7 {
	background-color: #e9e7e7;
}

.b-f7f7f7 {
	background-color: #f7f7f7;
}

.p12 {
	padding: 12px;
}

.plr5 {
	padding: 0px 5px;
}

.plr12 {
	padding: 30px 12px 0px 12px;
}

.select-add {
	background: url(/images/public/close.png) no-repeat;
	width: 31px;
	height: 31px;
	background-size: 31px 31px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt45 {
	margin-top: 45px;
}

.mt120 {
	margin-top: 120px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb70 {
	margin-bottom: 70px;
}

.mb100 {
	margin-bottom: 100px;
}

.mr120 {
	margin-right: 120px;
}

.mr160 {
	margin-right: 160px;
}

.mr4 {
	margin-right: 40px;
}

.c-f60 {
	color: #ff6600;
}

.c-333 {
	color: #333;
}

.c-999 {
	color: #999;
}

.c-ff8a00 {
	color: #ff8a00;
}

.f-14 {
	font-size: 14px;
}

.f-16 {
	font-size: 16px;
}

.f-20 {
	font-size: 20px;
}

.f-24 {
	font-size: 24px;
	font-weight: normal;
}

.c22bb62 {
	color: #22bb62;
}

.show {
	display: block;
}

.hid {
	display: none;
}

.relave {
	position: relative;
	left: 0;
	top: 0;
}

.asote {
	position: absolute;
}
/*回到顶部*/
#top_div {
	width: 44px;
	height: 44px;
	position: fixed;
	right: 10px;
	bottom: 60px;
	z-index: 1000;
}

#top_div img {
	width: 44px;
	height: 44px;
	
}

header nav .title {
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 0px 50px 0px 50px;
}
/*搜索条*/
.mayi-top-search {
	position: relative;
	width: 100%;
	background-color: #f6f6f6;
	padding: 5px 10px;
	box-sizing: border-box;
}

.mayi-search-tb {
	margin-left: 32px;
	padding-left: 8px;
	line-height: 36px;
	background-color: #e6e6e6;
	border-radius: 6px;
	margin-right: 40px;
}

.nomargin-left {
	margin-left: 0px !important;
}

.nomargin-right {
	margin-right: 0px !important;
}


.mayi-search-near, .cancel_search {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #22bb62;
	font-size: 14px;
}

.cnt_suggest {
	display: none;
	z-index: 999;
}

header {
	box-sizing: border-box;
	width: 100%; /*padding:0 0 0 44px;*/
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
}

.city_parent {
	position: absolute;
	right: 8px;
	top: 0;
	font-size: 16px;
	line-height: 36px;
	color: #999;
	font-size: 12px;
}

.mayi-top {
	line-height: 44px;
	text-align: center;
	font-size: 18px;
}

.mayi-top .left {
	position: absolute;
	top: 0px;
	left: 0;
	text-align: center;
	width: 42px;
	height: 44px;
	cursor: pointer;
	background: url(/images/public/back.png) center center no-repeat;
	background-size: 11px 22px;
}
/*loading*/
.localing, .loading {
	background:
		url("/images/public/loading.gif")
		no-repeat scroll center center;
	display: block;
	width: 100%;
	height: 24px;
}
/*返回上一页面*/
.mayi-top-search .left, .mayi-top .left {
	position: absolute;
	top: 1px;
	left: 0;
	text-align: center;
	width: 42px;
	height: 44px;
	cursor: pointer;
	background: url(/images/public/back.png) center center no-repeat;
	background-size: 11px 22px;
}
/*公共底部*/
.index-footer {
	width: 100%;
	background-color: #322c27;
	padding-top: 10px;
	padding-bottom: 10px;
}

.public-footer {
	line-height: 1;
	padding-top: 15px;
	display: flex;
	background-color: #322c27;
	display: box;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	/*display: -moz-box;  OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
}

.public-footer a {
	position: relative;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
	float: left;
	border-right: 1px #d5d2d2 solid;
	-webkit-box-flex: 1;
}

.public-footer a:last-child {
	border: none;
}

.map-footer a {
	border: none;
	margin-top: 10px;
}

.ft_wz {
	color: #fff;
	display: block;
	font-size: 13px;
	margin: 15px 0 -5px;
	text-align: center;
}
.ft_wz a {
	color: #fff;
}
.ft-b {
	height: 30px;
	color: #ccc;
	text-align: center;
	font-size: 11px;
	line-height: 30px;
	background-color: #322c27;
	margin-top: 3px;
}

.map-footer {
	margin: 0 20px;
}

.map-footer a {
	margin: 0 10px;
	background: #5b5652;
	display: inline-block;
	line-height: 30px;
}
/*列表页筛选排序*/
.sort ul {
	display: flex;
	display: box;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
}

.sort li {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #c9cbce;
	-webkit-box-flex: 1;
	text-align: center;
	font-size: 14px;
	text-shadow: 0px 1px 0 #fff;
	margin: 10px 0px 10px 0px;
    box-sizing: border-box; 
}

.sort li span, .sort li span b {
	font-weight: normal;
}

.sort li.avtive {
	color: #22bb62;
}

.sort li.time {
	color: #333 !important;
}

.sort1 li:before {
	background-position: -345px -152px;
	content: " ";
	height: 20px;
	width: 10px;
	position: absolute;
	top: 0;
	right: 10px;
}

.sort li:last-child {
	border: none;
}

.sort li.active {
	background: linear-gradient(#e0e0e0, #c9c9c9) repeat scroll 0 0
		transparent;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#e0e0e0),
		to(#c9c9c9));
}

.alert-box {
	width: 100%;
	height: 100%;
	z-index: 999;
	position: fixed;
	display: none;
	font-size: 16px;
}

.alert-boxbg {
	position: fixed;
	width: 100%;
	top: 0px;
	bottom: 0px;
	background: #000;
	opacity: 0.6;
}

.alert-boxcont {
	z-index: 10000;
	text-indent: 2em;
	width: 80%;
	background: #fff;
	top: 20%;
	left: 10%;
	position: fixed;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
}

.alert-word {
	line-height: 2rem;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.alert-boxcont a.link {
	color: #22bb62;
	float: right;
}

.text-center {
	text-align: center;
}

.altmsg {
	margin-left: -30%;
	width: 60%;
	height: 50px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .6);
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 200;
	margin-top: -25px;
	line-height: 50px;
	color: #fff;
	display: none;
	text-align: center;
}

.sort li.js-search {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sha-footer {
	float: left;
	width: 100%;
	margin: 10px 0px 80px 0px;
}
