<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jupai.pay.persistence.PayMapper">

	<!-- 更新支付状态 -->
	<update id="updatePayStatus">
		update `order` set pay_status = #{status} where id = #{orderId}
	</update>
	
	<!-- 根据chargeId更新支付状态 -->
	<update id="updatePayStatusByChargeId">
		update `order` set pay_status = #{status} where charge_id = #{chargeId}
	</update>
	
	<select id="isCharged" parameterType="String" resultType="Integer">
		select pay_status from `order` where id = #{orderId}
	</select>
	
</mapper>